In [2]:
import seaborn as sns
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv('Muestreo_CT_PatAzul2023.csv')

/var/folders/6c/17qbm4nd5318hd4bcrx68wjh0000gn/T/ipykernel_11588/1758670802.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Muestreo_CT_PatAzul2023.csv')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118765 entries, 0 to 118764
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Ruta            118765 non-null  object
 1   Sitio           118765 non-null  object
 2   A単o             118765 non-null  object
 3   Camara          118765 non-null  object
 4   Extra           118765 non-null  object
 5   Archivo         118765 non-null  object
 6   Fecha           118751 non-null  object
 7   Hora            118751 non-null  object
 8   Animal_proba    110011 non-null  float32
 9   Animal          110011 non-null  float64
 10  Guanaco_proba   71383 non-null   float64
 11  Guanaco         71383 non-null   float64
 12  Especie         8789 non-null    object
 13  Cantidad_proba  8789 non-null    float64
 14  Cantidad        8789 non-null    float64
 15  Validar         110011 non-null  object
 16  Validado        110011 non-null  float64
dtypes: float32(1), float64(6), object(10)
memory usage: 15.9+ MB

In [5]:
df.head()

,Ruta,Sitio,A単o,Camara,Extra,Archivo,Fecha,Hora,Animal_proba,Animal,Guanaco_proba,Guanaco,Especie,Cantidad_proba,Cantidad,Validar,Validado
0,Muestreo ct Iberica/2023/Ib1/100_BTCF/IMG_0001...,Muestreo ct Iberica,2023,Ib1,100_BTCF,IMG_0001.JPG,2023-02-08,12:22:51,0.939226,1.0,NaN,NaN,None,NaN,NaN,True,0.0
1,Muestreo ct Iberica/2023/Ib1/100_BTCF/IMG_0002...,Muestreo ct Iberica,2023,Ib1,100_BTCF,IMG_0002.JPG,2023-02-08,12:22:53,0.009811,0.0,NaN,NaN,None,NaN,NaN,False,0.0
2,Muestreo ct Iberica/2023/Ib1/100_BTCF/IMG_0004...,Muestreo ct Iberica,2023,Ib1,100_BTCF,IMG_0004.JPG,2023-02-08,12:22:59,0.672598,1.0,NaN,NaN,None,NaN,NaN,True,0.0
3,Muestreo ct Iberica/2023/Ib1/100_BTCF/IMG_0003...,Muestreo ct Iberica,2023,Ib1,100_BTCF,IMG_0003.JPG,2023-02-08,12:22:55,0.967046,1.0,0.000047,0.0,None,NaN,NaN,True,0.0
4,Muestreo ct Iberica/2023/Ib1/100_BTCF/IMG_0006...,Muestreo ct Iberica,2023,Ib1,100_BTCF,IMG_0006.JPG,2023-02-08,12:23:04,0.999969,1.0,0.000003,0.0,None,NaN,NaN,True,0.0

In [6]:
df[df['Animal'].notna()]['Ruta']

0         Muestreo ct Iberica/2023/Ib1/100_BTCF/IMG_0001...
1         Muestreo ct Iberica/2023/Ib1/100_BTCF/IMG_0002...
2         Muestreo ct Iberica/2023/Ib1/100_BTCF/IMG_0004...
3         Muestreo ct Iberica/2023/Ib1/100_BTCF/IMG_0003...
4         Muestreo ct Iberica/2023/Ib1/100_BTCF/IMG_0006...
                                ...
118759    Muestreo ct sauce/CT S 2023/S9 (las fotos dice...
118761    Muestreo ct sauce/CT S 2023/S9 (las fotos dice...
118762    Muestreo ct sauce/CT S 2023/S9 (las fotos dice...
118763    Muestreo ct sauce/CT S 2023/S9 (las fotos dice...
118764    Muestreo ct sauce/CT S 2023/S9 (las fotos dice...
Name: Ruta, Length: 110011, dtype: object

In [16]:
# Ordeno por Animal_proba descending
df = df[df['Animal'].notna()]
df.sort_values(by='Animal_proba', ascending=False)

KeyError: 'Animal'

In [3]:
df = pd.read_csv('ArchivosUtiles/Muestreo_CT_PatAzul.csv', low_memory=False)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118765 entries, 0 to 118764
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Ruta     118765 non-null  object
 1   Sitio    118765 non-null  object
 2   A単o      118765 non-null  object
 3   Camara   118765 non-null  object
 4   Extra    3662 non-null    object
 5   Archivo  118765 non-null  object
 6   Fecha    118751 non-null  object
 7   Hora     118751 non-null  object
dtypes: object(8)
memory usage: 7.2+ MB

In [3]:
import tensorflow as tf
print(tf.__version__)

ModuleNotFoundError: No module named 'tensorflow'

In [3]:
dfTensor = pd.read_pickle('ArchivosUtiles/datasetTensores.pkl')

2023-11-26 12:41:36.199861: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: SSE4.1 SSE4.2, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [4]:
dfTensor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118765 entries, 0 to 118764
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Ruta    118765 non-null  object
 1   Imagen  118765 non-null  object
dtypes: object(2)
memory usage: 1.8+ MB